@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Segoe WP";
  font-display: swap;
  src: url("../fonts/Segoe WP.woff") format("woff"), url("../fonts/Segoe WP.woff2") format("woff2");
  font-weight: 700;
  font-style: medium;
}

@font-face {
  font-family: "segoe-ui-semibold";
  font-display: swap;
  src: url("../fonts/segoe-ui-semibold.woff") format("woff"), url("../fonts/segoe-ui-semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

.logo-name {
  display: flex;
  font-size: calc(20px + 7 * ((100vw - 320px) / 680));
  color: red;
  font-weight: 800;
  font-family: "segoe-ui-semibold";
}

.logo-name p {
  font-size: calc(20px + 7 * ((100vw - 320px) / 680));
  color: #424242;
  font-weight: 200;
  font-family: "segoe-ui-semibold";
}

.btn {
  display: inline-flex;
  text-align: center;
  padding: 9px 21px 9px 21px;
  background-color: #91d673;
  font-size: calc(15px + 5 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 500;
  font-family: "segoe-ui-semibold";
  line-height: 145%;
  border-radius: 3px;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.text {
  font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  color: #7e7e7e;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.pic img {
  max-width: 100%;
}

.header-wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.header:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 100%;
  height: 28px;
  background-color: #424242;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 30px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 7;
}

.header__menu {
  position: relative;
  z-index: 4;
}

.header__list {
  display: flex;
}

.header__link {
  margin-left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo__title {
  display: flex;
  font-size: calc(12px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 800;
  font-family: "segoe-ui-semibold";
}

.logo__img {
  margin: 0px 10px;
  display: inline-flex;
  align-items: center;
  width: 27px;
  height: 27px;
}

.logo__img img {
  max-width: 100%;
  border-radius: 1px;
}

.burger {
  display: none;
  height: 20px;
  width: 25px;
  z-index: 11;
  position: relative;
  z-index: 100000;
  cursor: pointer;
}

.burger span:nth-child(1)::after {
  content: "";
  top: 0px;
  left: 0px;
  width: 30px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  transition-duration: 0.2s;
}

.burger span:nth-child(2)::after {
  content: "";
  top: 5px;
  left: 0px;
  width: 30px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  transition-duration: 0.2s;
}

.burger span:nth-child(3)::after {
  content: "";
  top: 10px;
  left: 0px;
  width: 30px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  transition-duration: 0.2s;
}

.burger.active {
  display: none;
  height: 20px;
  width: 25px;
  z-index: 222;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.burger.active span:nth-child(1)::after {
  content: "";
  top: 7px;
  left: 0px;
  width: 20px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  transform: rotate(45deg);
  transition-duration: 0.2s;
}

.burger.active span:nth-child(2)::after {
  content: "";
  top: 5px;
  left: 0px;
  width: 20px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition-duration: 0.2s;
}

.burger.active span:nth-child(3)::after {
  content: "";
  top: 8px;
  left: px;
  width: 20px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  transform: rotate(-45deg);
  transition-duration: 0.2s;
}

.unitabs {
  display: flex;
  font-family: "segoe-ui-semibold";
  font-size: 18.4px;
  color: #5b5b5b;
  font-weight: 400;
}

.unitabs__links {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.unitabs__link {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 15px 26px 12px 26px;
  font-size: calc(10px + 8.4 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  border: 0.1px solid #555;
  opacity: 0.5;
}

.unitabs__link.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: calc(10px + 8.4 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  border: 1px solid transparent;
  opacity: 1;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/**
 * Swiper 6.3.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 30, 2020
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #fff;
}

.swiper-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 0;
  overflow: hidden;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  text-align: center;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */

.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

:root {
  --swiper-navigation-size: 44px;
  /*
	--swiper-navigation-color: var(--swiper-theme-color);
	*/
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 40 * 27);
  width: calc(var(--swiper-navigation-size) / 1 * 27);
  width: 10%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}

.swiper-button-lock {
  display: none;
}

:root {
  /*
	--swiper-pagination-color: var(--swiper-theme-color);
	*/
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  margin: 20px 0px 0px 0px;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
  left: 0;
  width: 100%;
}

/* Bullets */

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

/* Scrollbar */

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

/* Preloader */

:root {
  /*
	--swiper-preloader-color: var(--swiper-theme-color);
	*/
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* a11y */

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "segoe-ui-semibold";
  font-size: 16px;
  overflow-x: hidden;
  color: #000;
  overflow-y: auto;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1040px;
  margin: 0 auto;
}

.unititle {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 10px;
}

.unititle__title {
  font-size: calc(12px + 8 * ((100vw - 320px) / 680));
  color: #000;
  font-weight: 700;
  font-family: "segoe-ui-semibold";
  padding: 0px 0px 12px 0px;
}

.unititle__sub-title {
  font-size: calc(5px + 5 * ((100vw - 320px) / 680));
  color: #000;
  font-weight: 100;
  font-family: "segoe-ui-semibold";
}

.unititle__text {
  font-size: calc(12px + 2 * ((100vw - 320px) / 680));
  color: #696969;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.footer {
  display: flex;
  flex: 0 0 auto;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 20px;
}

.sub-header__logo {
  display: flex;
  flex: 0 0 auto;
  width: 115px;
  height: 60px;
}

.sub-header__logo img {
  max-width: 100%;
}

.sub-header__search {
  display: flex;
  background-color: #91d673;
  height: 40px;
  width: 458px;
  margin: 0px 20px 0px 20px;
}

.sub-header__search input {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  border: 5px solid #91d673;
}

.sub-header__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  font-size: calc(12px + 8 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  background-color: #91d673;
}

.sub-header__btn span {
  padding: 0px 10px 0px 10px;
  font-size: calc(18px + 5 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 400;
  font-family: "Segoe WP";
}

.sub-header__loop {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sub-header__loop img {
  max-width: 100%;
}

.sub-header__shoppings {
  display: flex;
  padding: 0px 20px;
}

.shopping:first-child {
  padding-right: 10px;
  border-right: 0.5px solid #5b5b5b;
}

.shopping__row:first-child {
  padding-bottom: 10px;
}

.shopping {
  padding: 0px 0px 0px 10px;
}

.shopping__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping__row p {
  font-size: calc(10px + 14 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.shopping__row p span {
  font-size: calc(10px + 3 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.shopping__img {
  width: 27px;
  height: 29px;
  margin-right: 10px;
}

.shopping__img img {
  max-width: 100%;
}

.shopping__cost {
  display: flex;
  font-size: calc(27px + 0 * ((100vw - 320px) / 680));
  color: #424242;
  font-weight: 600;
  font-family: Arial;
}

.shopping__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 12px 5px 12px;
  background-image: linear-gradient(0deg, #242424 0%, #424242 100%);
  font-size: calc(12px + 8 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 500;
  font-family: "segoe-ui-semibold";
  margin-left: 14px;
  border-radius: 2px;
}

.shopping1 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping1__row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 28px;
}

.shopping1__list {
  flex: 0 0 auto;
  display: flex;
  word-wrap: nowrap;
  font-size: calc(21px + 0 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  position: relative;
}

.shopping1__list p {
  position: absolute;
  top: -17px;
  left: 75px;
  z-index: 10;
  padding: 3px 5px 3px 5px;
  background-color: #91d673;
  border-radius: 10px;
  font-size: calc(13px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.aspect {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}

.aspect__list-aspect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aspect__list-aspect li {
  margin-right: 5px;
}

.aspect__list-aspect li:last-child {
  margin-right: 0px;
}

.aspect__link {
  display: block;
  padding: 5px 12px 5px 10px;
  font-size: calc(19px + 0 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.inforow__box {
  display: flex;
}

.inforow__slaider {
  display: flex;
  min-width: 0;
  margin-right: 13px;
}

.inforow__akcio {
  display: flex;
}

.newakcio img {
  display: none;
}

.newakcio {
  width: 269px;
  height: 305px;
  display: flex;
  flex-direction: column;
}

.newakcio__header {
  flex: 0 0 auto;
  text-align: center;
}

.newakcio__title {
  font-size: calc(27px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 600;
  font-family: "segoe-ui-semibold";
}

.newakcio__sub-title {
  font-size: calc(15px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
}

.newakcio__body {
  flex: 1 1 auto;
}

.newakcio__footer {
  flex: 0 0 auto;
  text-align: center;
}

.newakcio__save {
  font-size: calc(21px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 600;
  font-family: "segoe-ui-semibold";
}

.newakcio__cost {
  font-size: calc(29px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 600;
  font-family: "segoe-ui-semibold";
}

.newakcio__btn {
  margin-bottom: 5px;
  display: inline-flex;
  font-size: calc(19px + 0 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 600;
  font-family: "segoe-ui-semibold";
  padding: 4px 10px 4px 10px;
  background-image: linear-gradient(0deg, #51a451 0%, #61c261 100%);
  border: 1px solid #52a452;
}

.swiper-slide {
  display: flex;
  min-width: 0;
}

.swiper-slide img {
  max-width: 100%;
}

.pictur {
  width: 714px;
  height: 300px;
  min-width: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.pictur img {
  max-width: 100%;
}

.bibliary {
  padding: 13px 0px 25px 0px;
}

.bibliary__box {
  display: flex;
  flex: 1 1 auto;
  padding: 0px 5px 0px 5px;
  position: relative;
}

.bibliary__list-categories {
  min-width: 190px;
  position: relative;
  border: 0.1px solid rgba(134, 134, 134, 0.3);
}

.bibliary__tabs {
  margin-left: 10px;
  border: 0.1px solid rgba(134, 134, 134, 0.3);
  flex: 1 1 auto;
}

.categories {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categories__title {
  font-size: calc(16px + 8.4 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 300;
  font-family: "Segoe WP";
  line-height: 120%;
  padding: 7px 25px 12px 25px;
}

.categories__all {
  cursor: pointer;
  margin-bottom: 5px;
  font-size: calc(17px + 0 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 600;
  font-family: "segoe-ui-semibold";
  padding: 4px 10px 4px 25px;
}

.categories__items {
  cursor: pointer;
  font-size: calc(17px + 3 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 600;
  font-family: Arial;
  line-height: 182.35294%;
  padding: 0px 25px 5px 25px;
}

.categories__item {
  cursor: pointer;
  border-bottom: 0.1px solid rgba(134, 134, 134, 0.3);
  font-size: calc(11px + 4.4 * ((100vw - 320px) / 680));
  color: #555454;
  font-weight: 400;
  font-family: "Segoe WP";
  line-height: 168.83117%;
}

.category-cliker.active {
  background-image: linear-gradient(0deg, #4ae408 0%, #154102 100%);
  color: #fff;
}

.bibliary-catalog {
  padding: 26px 17px 26px 25px;
  display: flex;
  flex-wrap: wrap;
}

.bibliary-catalog__items {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.book {
  margin: 15px;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #fff;
}

.book__pic {
  display: block;
  width: 108px;
  height: 160px;
}

.book__pic img {
  max-width: 100%;
}

.book__title {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 5px 0px 5px;
  font-size: calc(12px + 3 * ((100vw - 320px) / 680));
  color: #595959;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
  line-height: 106.66667%;
}

.book__cost {
  font-size: calc(18px + 4 * ((100vw - 320px) / 680));
  color: #f05356;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  line-height: 133.33333%;
}

.bibliary__pages {
  display: flex;
  justify-content: flex-end;
  font-size: calc(10px + 5.7 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  padding: 26px 5px 26px 25px;
  display: flex;
}

.bibliary__page {
  display: block;
  margin-left: 10px;
  font-size: calc(10px + 5.7 * ((100vw - 320px) / 680));
  color: #5b5b5b;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  padding: 5px;
  border: 1px solid #fff;
  border-bottom: 3px solid #fff;
}

.bibliary__page:active {
  border: 1px solid #000;
  border-bottom: 3px solid #91d673;
}

.footer {
  background-color: #696969;
  flex-direction: column;
}

.footer__colums {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__colum {
  margin: 0 -10px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  min-width: 172px;
}

.footer__row {
  padding: 28px 5px 15px 5px;
  background-color: #312f2f;
  text-align: center;
}

.footer__title-card {
  font-size: calc(15px + 5 * ((100vw - 320px) / 680));
  color: #dddddd;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
}

.footer__pic-card {
  display: block;
  width: 43px;
  height: 25px;
  margin: 0 10px;
}

.footer__pic-card img {
  max-width: 100%;
}

.footer__lisens {
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  color: #dddddd;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
}

.footer__list-card {
  justify-content: center;
  display: flex;
  margin: 10px 0px 12px 0px;
}

.footer-category__title {
  font-size: calc(16px + 3 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 100;
  font-family: "Segoe WP";
  margin: 23px 0px 15px 0px;
  letter-spacing: 0.1px;
}

.footer-category__item {
  display: block;
  line-height: 142.85714%;
  font-size: calc(12px + 2 * ((100vw - 320px) / 680));
  color: #dddddd;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
  opacity: 0.7;
  padding-top: 5px;
  letter-spacing: 0.5px;
}

.address-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0px 5px 10px;
  border: 1px solid rgba(204, 204, 204, 0.815);
}

.address-bar a {
  font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  color: #a6a6a6;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.tovar-item {
  border: 1px solid rgba(204, 204, 204, 0.815);
}

.tovar-item__box {
  padding: 27px 0px 27px 0px;
  display: flex;
}

.tovar-item__pic {
  display: flex;
  flex: 1 0 252px;
  border: 1px solid #c8c8c8;
}

.tovar-item__pic img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.tovar-item__pic__body {
  padding: 39px 36px 30px 47px;
}

.item-body {
  padding: 0px 38px 20px 45px;
}

.item-body__title {
  display: flex;
  flex: 1 1 auto;
  font-size: calc(20px + 20 * ((100vw - 320px) / 680));
  color: #595959;
  font-weight: 300;
  font-family: "segoe-ui-semibold";
  padding: 0px 0px 26px 0px;
}

.item-body__title span {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.item-body__title span img {
  max-width: 30px;
  max-height: 30px;
}

.item-body__price {
  margin-top: 26px;
  padding: 18px 32px 13px 27px;
  border: 1px solid rgba(204, 204, 204, 0.815);
}

.item-body__row-price {
  display: flex;
  border-bottom: 1px solid rgba(204, 204, 204, 0.815);
  padding: 0px 0px 27px 0px;
}

.item-body__columprice {
  flex: 0 0 50%;
}

.item-body__our-price {
  font-size: calc(25px + 10.8 * ((100vw - 320px) / 680));
  color: #e45858;
  font-weight: 700;
  font-family: "segoe-ui-semibold";
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
}

.item-body__our-price p {
  font-size: calc(25px + 10.8 * ((100vw - 320px) / 680));
  color: #015699;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.item-body__save-price {
  padding-top: 7px;
  font-size: calc(14px + 3 * ((100vw - 320px) / 680));
  color: #939292;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
}

.item-body__colum-add {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  padding: 11px 0px 0px 0px;
}

.item-body__addcart {
  border: 1px solid rgba(181, 176, 176, 0.56);
  padding: 12px 40px 10px 31px;
  background-color: #91d673;
  font-size: calc(16px + 8.5 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 700;
  font-family: "segoe-ui-semibold";
  border-radius: 2px;
}

.item-body__row-cards {
  flex: 0 0 50%;
  padding: 10px 0px 10px 0px;
}

.item-body__row-cards .text {
  display: flex;
}

.item-body__list-card {
  display: flex;
  padding: 10px 0px 0px 0px;
}

.text__img {
  margin-right: 10px;
  width: 14px;
  height: 13px;
}

.text__img img {
  max-width: 100%;
  opacity: 0.5;
}

.book-product {
  padding: 10px 0px 0px 0px;
}

.book-product__box {
  display: flex;
}

.book-product__content-colum {
  flex: 1 1 auto;
}

.book-product__like-colum {
  display: flex;
  flex: 0 0 260px;
  border: 1px solid rgba(181, 176, 176, 0.56);
  background-color: #a81616;
}

.tabsinfo {
  border: 1px solid rgba(181, 176, 176, 0.56);
}

.tabsinfo__links {
  display: flex;
  padding: 0px 0px 25px 0px;
}

.tabsinfo__link {
  font-size: calc(14px + 4 * ((100vw - 320px) / 680));
  color: #7e7e7e;
  font-weight: 400;
  font-family: "Segoe WP";
  background-color: #fff;
  padding: 15px 20px;
}

.tabsinfo__link.active {
  font-size: calc(14px + 4 * ((100vw - 320px) / 680));
  color: #fff;
  font-weight: 400;
  font-family: "Segoe WP";
  background-color: #7e7e7e;
  padding: 15px 20px;
}

.coments {
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  color: #7e7e7e;
  font-weight: 400;
  font-family: "Segoe WP";
}

.coments__items {
  padding: 50px 0px 0px 0px;
}

.coments__item {
  padding-bottom: 25px;
}

.coments__avatar {
  margin-bottom: 10px;
  flex: 0 0 63px;
  width: 63px;
  height: 63px;
}

.coments__avatar img {
  max-width: 100%;
}

.coments__avatitle {
  font-size: calc(21px + -7 * ((100vw - 320px) / 680));
  color: #a2a2a2;
  font-weight: 400;
  font-family: "Segoe WP";
  line-height: 185.71429%;
}

.coments__text {
  display: inline;
}

.more {
  display: none;
}

.more-text.active {
  display: inline;
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 1s;
}

.more-text {
  display: none;
  transition-duration: 0.5s;
  opacity: 0;
}

.show-more.active {
  display: block;
  font-size: calc(20px + 0 * ((100vw - 320px) / 680));
  color: red;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  cursor: pointer;
}

.show-more {
  display: none;
}

.hide-more.active {
  display: block;
  font-size: calc(20px + 0 * ((100vw - 320px) / 680));
  color: blue;
  font-weight: 400;
  font-family: "segoe-ui-semibold";
  cursor: pointer;
}

.hide-more {
  display: none;
}

@media (min-width: 992px) {
  .btn {
    transition-duration: 0.3s;
  }

  .btn:hover {
    background-image: linear-gradient(0deg, #51a451 0%, #61c261 100%);
    transition-duration: 0.3s;
  }

  .header__link {
    transition-duration: 0.3s;
  }

  .header__link:hover {
    color: #424242;
    transition-duration: 0.3s;
  }

  .aspect__link {
    transition-duration: 0.3s;
  }

  .aspect__link:hover {
    background-image: linear-gradient(0deg, #79b260 0%, #92d774 100%);
    transition-duration: 0.3s;
  }

  .categories__all {
    transition-duration: 0.3s;
  }

  .categories__all:hover {
    background-color: #6ce65c;
    transition-duration: 0.3s;
  }

  .categories__items {
    transition-duration: 0.3s;
  }

  .categories__items:hover {
    transition-duration: 0.3s;
  }

  .categories__item {
    transition-duration: 0.3s;
  }

  .categories__item:hover {
    background-color: #6ce65c;
    transition-duration: 0.3s;
  }

  .book {
    transition-duration: 0.3s;
  }

  .book:hover {
    border: 1px solid rgba(100, 100, 100, 0.89);
    transition-duration: 0.3s;
  }

  .bibliary__page {
    transition-duration: 0.3s;
  }

  .bibliary__page:hover {
    color: #0cbd5c;
    transition-duration: 0.3s;
  }

  .item-body__addcart {
    transition-duration: 0.3s;
  }

  .item-body__addcart:hover {
    background-color: #41ce48;
    transition-duration: 0.3s;
  }
}

@media (max-width: 1040px) {
  .inforow__box {
    flex-direction: column-reverse;
    text-align: center;
  }

  .inforow__slaider {
    margin-right: 0px;
  }

  .newakcio {
    width: 100%;
    height: 55px;
    margin: 5px 0;
    flex-direction: row;
    border: 1px solid #91d673;
    border-bottom: 4px solid #91d673;
    justify-content: space-around;
  }

  .newakcio img {
    display: none;
  }

  .newakcio__header {
    flex: 1 1 auto;
  }

  .newakcio__title {
    font-size: calc(15px + 12 * ((100vw - 320px) / 680));
    color: #fff;
    font-weight: 600;
    font-family: "segoe-ui-semibold";
  }

  .newakcio__sub-title {
    font-size: calc(10px + 5 * ((100vw - 320px) / 680));
    color: #fff;
    font-weight: 300;
    font-family: "segoe-ui-semibold";
  }

  .newakcio__body {
    flex: 0 0 20px;
  }

  .newakcio__footer {
    flex: 1 1 auto;
  }

  .newakcio__save {
    font-size: calc(14px + 7 * ((100vw - 320px) / 680));
    color: #fff;
    font-weight: 600;
    font-family: "segoe-ui-semibold";
  }

  .newakcio__cost {
    font-size: calc(16px + 13 * ((100vw - 320px) / 680));
    color: #fff;
    font-weight: 600;
    font-family: "segoe-ui-semibold";
  }

  .newakcio__btn {
    font-size: calc(15px + 4 * ((100vw - 320px) / 680));
    color: #fff;
    font-weight: 600;
    font-family: "segoe-ui-semibold";
    display: none;
  }

  .swiper-wrapper {
    width: 100%;
  }

  .swiper-slide img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .pictur {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .shopping__cost {
    font-size: calc(14px + 13 * ((100vw - 320px) / 680));
    color: #424242;
    font-weight: 600;
    font-family: Arial;
  }
}

@media (max-width: 999px) {
  .aspect__list-aspect {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 980px) {
  .shopping:first-child {
    border-right: 0.5px solid transparent;
    padding-right: 0px;
  }

  .shopping1 {
    display: none;
  }

  .bibliary-catalog__items {
    justify-content: center;
  }

  .tovar-item__box {
    flex-direction: column;
	  padding-top:0px;
  }

  .tovar-item__pic {
    justify-content: center;
    flex: 1 1 auto;
    width: auto;
  }
}

@media (max-width: 850px) {
  .sub-header {
    padding-left: 0px;
  }
}

@media (max-width: 840px) {
  .sub-header__logo {
    display: none;
  }

  .sub-header__search {
    margin: none;
  }
}

@media (max-width: 784px) {
  .unitabs__link {
    padding: 10px 18px 7px 18px;
  }

  .unitabs__link.active {
    padding: 10px 18px 7px 18px;
  }

  .sub-header__btn span {
    display: none;
  }

  .shopping {
    padding: 0;
  }

  .shopping__img {
    width: 20px;
    height: 22px;
  }

  .bibliary__list-categories {
    min-width: auto;
  }

  .categories__items {
    padding: 0px 10px 5px 10px;
  }

  .footer__colums {
    justify-content: center;
  }

  .footer__colum {
    flex: 0 0 33.33%;
    margin-bottom: 30px;
  }

  .tovarnir.wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .address-bar {
    padding: 5px 0px 5px 5px;
  }

  .item-body {
    padding: 0px 20px 20px 20px;
  }

  .item-body__title {
    padding: 20px 0px 26px 0px;
  }

  .item-body__title span {
    display: none;
  }

  .item-body__row-price {
    flex-direction: column;
  }

  .item-body__colum-add {
    justify-content: center;
  }

  .item-body__addcart {
    padding: 8px 20px 6px 15px;
  }
}

@media (max-width: 600px) {
  .shopping__row p {
    display: none;
  }

  .shopping__cost {
    display: none;
  }

  .categories {
    position: relative;
    z-index: 11;
  }

  .bibliary__list-categories {
    background-color: #353535;
    position: absolute;
    top: 33px;
    left: -175px;
  }

  .bibliary__list-categories span:before {
    content: "";
    position: absolute;
    top: 0px;
    right: -12px;
    z-index: 10;
    width: 20px;
    height: 100px;
    border-right: 11px double #4ae408;
  }

  .bibliary__list-categories.active {
    background-color: #353535;
    position: absolute;
    top: 33px;
    left: 0px;
    box-shadow: 100px -2px 21px 0px rgba(50, 50, 50, 0.8);
  }
}

@media (max-width: 550px) {
  body.lock {
    overflow: hidden;
  }

  .footer__colum {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .unitabs__link {
    padding: 5px 8px 4px 8px;
  }

  .unitabs__link.active {
    padding: 5px 8px 4px 8px;
  }

  .shopping__img {
    width: 30px;
    height: 31px;
  }

  .shopping__btn {
    display: none;
  }

  .bibliary__tabs {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .header__body {
    justify-items: flex-end;
  }

  .header__menu.active {
    top: 0;
    transition-duration: 0.3s;
  }

  .header {
    position: fixed;
    z-index: 33;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .header:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 7;
    width: 100%;
    height: 40px;
  }

  .header__body {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: relative;
  }

  .header__logo {
    display: block;
    position: relative;
    z-index: 7;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #444444;
    padding: 100px 0px 0px 0px;
    overflow: auto;
    transition-duration: 0.3s;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__list li {
    margin: 20px 0px 0px 0px;
  }

  .header__list li:last-child {
    padding: 0px 0px 0px 0px;
  }

  .header__link {
    color: #fff;
    margin: 0px;
  }

  .burger {
    display: block;
    margin: 0px 0px 0px 20px;
  }

  .burger.active {
    display: block;
  }
}

@media (max-width: 450px) and (max-width: 480px) {
  .header__body {
    justify-content: flex-end;
  }
}

@media (max-width: 120px) {
  .aspect__link {
    font-size: calc(12px + 7 * ((100vw - 320px) / 680));
    color: #5b5b5b;
    font-weight: 400;
    font-family: "segoe-ui-semibold";
  }
}
